<main class="grid-container">
  {{!-- Website Name --}}
  <header class="grid-x grid-padding-x align-center">
    <h1>Gifted</h1>
  </header>
  {{!-- Page Title --}}
  <div class="grid-x grid-padding-x align-center">
    <h2 class="text-center">Gifts You Received</h2>
  </div>
  {{!-- Add Button --}}
  <div class="grid-x grid-padding-x align-center">
    <a href="/add/received" class="button">Add a New Gift</a>
  </div>
  {{!-- Table --}}
  <section class="grid-x grid-padding-x align-center">
    <table class="hover">
      <thead>
        <tr>
          <th width="150">Gift You Received</th>
          <th width="150">Date Received</th>
          <th width="150">Occasion</th>
          <th width="150">Sender's Name</th>
          <th width="150">Sender's Address</th>
          <th width="150">Thank You</th>
          <th width="150">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each gifts}}
        <tr>
          <td><span>{{giftReceived}}</span><input id="editedGift{{id}}" type="text" value="{{giftReceived}}"
              class="displayNone"></td>
          <td><span>{{dateReceived}}</span><input id="editedDate{{id}}" type="text" value="{{dateReceived}}"
              class="displayNone"></td>
          <td><span>{{occasion}}</span><input id="editedOccasion{{id}}" type="text" value="{{occasion}}" class="displayNone">
          </td>
          <td><span>{{senderName}}</span><input id="editedSender{{id}}" type="text" value="{{senderName}}"
              class="displayNone"></td>
          <td><span>{{senderAddress}}</span><input id="editedAddress{{id}}" type="text" value="{{senderAddress}}"
              class="displayNone"></td>
          <td>
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a>{{#if thankYou}}Sent{{else}}Not Sent{{/if}}</a>
                <ul class="menu">
                  <li><a data-id="{{id}}" class="thankYouBtn">{{#unless thankYou}}Sent{{else}}Not Sent{{/unless}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </td>
          <td><button data-id="{{id}}" type="button" class="editbtn small button success">edit</button>
            <button data-id="{{id}}" type="button" class="deletebtn small button alert">delete</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</main>

<script>
  $(document).ready(function () {

    // Sets up Foundation JavaScript
    $(document).foundation();

    $(".thankYouBtn").on("click", function (event) {
      console.log("Button worked");
    });

    // Edit Button Event Listener
    $(".editbtn").on("click", function (event) {

      if ($(this).text() === "edit") {
        $(this).text("submit");

        const tableRow = $(this).parent().siblings();

        for (let i = 0; i < tableRow.length - 1; i++) {
          tableRow[i].children[0].setAttribute("class", "displayNone");
          tableRow[i].children[1].removeAttribute("class");
        }

      } else if ($(this).text() === "submit") {
        $(this).text("edit");
            if ()
        console.log("Submit Button Worked");

        const id = $(this).data("id");
        const userId = 1;

        const editedGift = {
          id: id,
          user_id: userId,
          senderName: $("#editedSender" + id).val(),
          senderAddress: $("#editedAddress" + id).val(),
          giftReceived: $("#editedGift" + id).val(),
          occasion: $("#editedOccasion" + id).val(),
          dateReceived: $("#editedDate" + id).val(),
          thankYou: true,
        };
        console.log(editedGift)
        $.ajax("/api/edit/received", { type: "PUT", data: editedGift}).then(() => { location.reload() });
      }
    });

    // Delete Button Event Listener
    $(".deletebtn").on("click", function (event) {

      const id = $(this).data("id");

      // AJAX Call - Delete Table Row
      $.ajax("/api/received/" + id, {
        type: "DELETE",
      }).then(() => {
        location.reload();
      });
    });

  });
</script>