<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/">Logout</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="has-submenu">
        <a>Navigate</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="/received">All Received Gifts</a></li>
          <li><a href="/add/received">Add Received Gift</a></li>
          <li><a href="/sent">All Sent Gifts</a></li>
          <li><a href="/add/sent">Add Sent Gift</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<h1 class="text-center">Gifted</h1>

<hr>

<h2 class="text-center">Gifts You Received</h2>

<a href="/add/received" class="button">Add a New Gift</a>

<table class="hover">
  <thead>
    <tr>
      <th width="150">Gift You Received</th>
      <th width="150">Date Received</th>
      <th width="150">Occasion</th>
      <th width="150">Sender's Name</th>
      <th width="150">Sender's Address</th>
      <th width="150">Thank You</th>
      <th width="150">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each gifts}}
    <tr>
      <td>{{giftReceived}}</td>
      <td>{{dateReceived}}</td>
      <td>{{occasion}}</td>
      <td>{{senderName}}</td>
      <td>{{senderAddress}}</td>
      <td>
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a>{{#if thankYou}}Sent{{else}}Not Sent{{/if}}</a>
            <ul class="menu">
              <li><a data-id="{{id}}" class="thankYouBtn">{{#unless thankYou}}Sent{{else}}Not Sent{{/unless}}</a></li>
            </ul>
          </li>
        </ul>
      </td>
      <td><button type="button" class="editbtn small button success">edit</button>
        <button data-id="{{id}}" type="button" class="deletebtn small button alert">delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script>
  $(document).ready(function () {

    $(document).foundation();

    $(".thankYouBtn").on("click", function (event) {
      console.log("Button worked");
    });

    $(".deletebtn").on("click", function (event) {

      const id = $(this).data("id");

      $.ajax("/api/received/" + id, {
        type: "DELETE",
      }).then(() => {
        location.reload();
      });
    });

  });
</script>

      {{!-- <td>{{#if boolean}}<input type="text" value="{{giftReceived}}">{{else}}{{giftReceived}}{{/if}}</td>
      <td>{{#if boolean}}<input type="text" value="{{dateReceived}}">{{else}}{{dateReceived}}{{/if}}</td>
      <td>{{#if boolean}}<input type="text" value="{{occasion}}">{{else}}{{occasion}}{{/if}}</td>
      <td>{{#if boolean}}<input type="text" value="{{senderName}}">{{else}}{{senderName}}{{/if}}</td>
      <td>{{#if boolean}}<input type="text" value="{{senderAddress}}">{{else}}{{senderAddress}}{{/if}}</td> --}}